POSTGRES_VERSION=18.3
POSTGRES_MAJOR=18
PGVECTOR_VERSION=0.8.2

POSTGRES_DB=production_app
POSTGRES_USER=production_admin
POSTGRES_PASSWORD=replace-this-with-a-strong-password
DB_PASSWORD_FILE=
PGDATA=/var/lib/postgresql/data/pgdata
POSTGRES_INITDB_ARGS=--encoding=UTF8 --data-checksums --auth-host=scram-sha-256 --auth-local=scram-sha-256
ENABLE_PGVECTOR=true
ENABLE_PG_STAT_STATEMENTS=true
AUTO_CREATE_PG_STAT_STATEMENTS=true
AUTO_UPGRADE_EXTENSIONS=true

TZ=Africa/Johannesburg
DB_BIND_ADDRESS=0.0.0.0
DB_PORT=5432
SECRETS_HOST_DIR=./secrets
POSTGRES_VOLUME_NAME=production-db-pgdata-v18
POSTGRES_SHM_SIZE=256m

PG_LISTEN_ADDRESSES=*
PG_ALLOWED_CIDRS=192.168.10.0/24,172.16.0.0/12
PG_MAX_CONNECTIONS=200
PG_SHARED_BUFFERS=256MB
PG_EFFECTIVE_CACHE_SIZE=768MB
PG_WORK_MEM=4MB
PG_MAINTENANCE_WORK_MEM=64MB
PG_MAX_WAL_SIZE=1GB
PG_MIN_WAL_SIZE=80MB
PG_CHECKPOINT_TIMEOUT=15min
PG_EFFECTIVE_IO_CONCURRENCY=200
PG_LOG_MIN_DURATION_STATEMENT=250ms
PG_LOG_CONNECTIONS=off
PG_LOG_DISCONNECTIONS=off
PG_IDLE_IN_TRANSACTION_SESSION_TIMEOUT=5min
PG_STATEMENT_TIMEOUT=0
PG_LOG_CHECKPOINTS=on
PG_LOG_AUTOVACUUM_MIN_DURATION=10s
PG_WAL_COMPRESSION=on
PG_SHARED_PRELOAD_LIBRARIES=pg_stat_statements
PG_STAT_STATEMENTS_MAX=10000
PG_STAT_STATEMENTS_TRACK=all
PG_SSL=off
PG_SSL_CERT_FILE=/etc/postgresql/tls/server.crt
PG_SSL_KEY_FILE=/etc/postgresql/tls/server.key

BACKUP_HOST_DIR=./backups
BACKUP_CRON=0 2 * * *
BACKUP_RETENTION_DAYS=14
BACKUP_RUN_ON_START=false
