local   all             all                                     scram-sha-256
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256
host    all             all             ${PG_ALLOWED_CIDR}      scram-sha-256
host    replication     all             ${PG_ALLOWED_CIDR}      scram-sha-256
